@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  --clr-neutral-900: hsl(207, 19%, 9%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-accent-400: hsl(142, 90%, 61%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: "Quicksand" !important;
}

body {
  background-color: #101825 !important;
}

.navbar {
  height: 3.75rem;
  background-color: #101825;
}

.navbar .container {
  justify-content: center !important;
}

.navbar-collapse {
  padding: 1.25rem;
  justify-content: center !important;
}

.navbar-nav .nav-item .nav-link.active {
  color: #FFFFFF;
}

.nav-link {
  color: #CACACA !important;
}

.nav-link:hover {
  color: #FFFFFF !important;
}

.hero {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 12.5rem;
}

.hero h1 {
  width: 55%;
}

.hero div {
  width: 20%;
}

.img-container {
  border-radius: 12.5rem;
  overflow: hidden;
}

.img-container img {
  width: 100%;
  height: 100%;
}

.myAbout a {
  text-decoration: none;
  padding: 0.625rem;
  margin-left: 1.563rem;
}

.myAbout {
  font-size: larger;
  margin-bottom: 12.5rem;
}

.myAboutLink {
  color: white;
}

.myAboutLink:hover {
  color: aquamarine;
}

.myAboutLink:hover::before {
  content: "➜";
  display: inline-block;
  margin-right: 0.5rem;
}

.linkButton {
  margin-left: 6.25rem;
  background-color: #FFFFFF;
  color: black;
  border: none;
  border-radius: 1.25rem;
  padding: 0.625rem 1.875rem;
  display: inline-flex;
}

.linkButton:hover {
  cursor: pointer;
  padding: 0.625rem 2.5rem;
  transition: 0.4s;
}

.linkButton:hover::after {
  opacity: 1;
}

.about-container h2 {
  padding-top: 4.375rem;
  margin-left: 6.25rem;
  margin-bottom: 6.25rem;
  color: #FFFFFF;
}

.about-panel {
  display: flex;
  margin-bottom: 1.25rem;
}

.under_panel {
  margin-bottom: 12.5rem;
  margin-right: 3.125rem;
}

.about-container p {
  color: #FFFFFF;
  margin-left: 6.25rem;
  margin-right: 3.125rem;
  size: large;
  font-size: large;
}

.about-text {
  width: 50%;
}

.about-img {
  width: 50%;
  margin-right: 6.25rem;
}

.about-img img {
  width: 100%;
  height: 100%;
}

.project-container {
  margin-bottom: 9.375rem;
}

.project-container h2 {
  padding-top: 4.375rem;
  margin-left: 6.25rem;
  color: #FFFFFF;
}

.Card-Container {
  display: flex;
  padding: 0 1rem;
  width: 50rem;
  margin: 0 auto;
}

.carousel-content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 400px;
  position: relative;
  z-index: 1;
}

.carousel-image {
  height: 18.75rem;
  margin-top: 0;
  width: 3.125rem;
}

.carousel-title {
  color: white;
  text-align: center;
  height: 50%;
}

.carousel-body {
  color: #FFFFFF;
  text-align: center;
}

.carousel-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 37.5rem;
  width: 100%;
}

.carousel.carousel-slider .control-arrow {
  color: black !important;
}

.carousel {
  color: black;
}

.external-arrow-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.external-arrow {
  width: 2rem;
  cursor: pointer;
  margin: 0 1rem;
}

.skills-tab {
  display: flex;
  width: 1rem;
}

.Box {
  margin-left: 12.5rem;
  margin-right: 18.75rem;
  margin-top: 9.375rem;
  margin-bottom: 12.5rem;
}

.skills-container {
  margin-left: 6.25rem;
  margin-right: 6.25rem;
}

.skills-container h2 {
  padding-top: 6.25rem;
  margin-left: 6.25rem;
  color: #FFFFFF;
}

@media (min-width: 500px) and (max-width: 950px) {
  .custom-navbar-bg.navbar {
    background-color: #101825;
  }

  .hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
  }

  .hero h1 {
    max-width: 26.25rem;
    width: 100%;
    margin-top: 5rem;
    font-size: 2rem;
  }

  .hero .img-container {
    width: 15rem;
    border-radius: 12.5rem;
    overflow: hidden;
    margin-bottom: 1rem;
    margin-top: 4rem;
  }

  .myAbout {
    font-size: larger;
    margin-bottom: 4rem;
    text-align: center;
    margin-top: 1.5rem;
    display: flex;
  }

  .myAbout a {
    text-decoration: none;
    display: inline-block;
    margin-left: 2rem;
    margin-right: auto;
  }

  .myAboutLink {
    color: white;
  }

  .linkButton {
    background-color: #FFFFFF;
    color: black;
    border: none;
    border-radius: 1.25rem;
    padding: 0.625rem 1.875rem;
    display: block;
    margin-left: auto;
  }

  .about-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 59.375rem;
  }

  .about-container h2 {
    padding-top: 4.375rem;
    color: #FFFFFF;
    font-size: 2rem;
    justify-content: center;
  }

  .about-container p {
    color: #FFFFFF;
    margin-left: 3.125rem;
    margin-right: 3.125rem;
    size: large;
    font-size: large;
  }

  .about-panel {
    margin-top: 1.25rem;
    display: block;
  }

  .about-text {
    width: 100%;
    margin: 0;
    margin-bottom: 1.25rem;
  }

  .about-img {
    width: 100%;
    text-align: center;
  }

  .about-img img {
    width: 25rem;
  }

  .under_panel {
    width: 100%;
    margin: 0;
    margin-bottom: 1.25rem;
  }

  .project-container {
    margin-bottom: 9.375rem;
  }

  .project-container h2 {
    padding-top: 4.375rem;
    margin-left: 6.25rem;
    color: #FFFFFF;
  }

  .Card-Container {
    width: 90%;
    display: flex;
    justify-content: center !important;
    align-items: center;
    position: relative;
  }

  .custom-carousel {
    width: 80vw;
  }

  .carousel-slide {
    width: 90%;
    margin: auto;
  }

  .control-dots {
    margin: 0 0 !important;
  }

  .external-arrow-div {
    display: none;
  }

  .skills-container {
    width: 100%;
  }

  .Box {
    margin: 0;
    width: 70vw;
    margin-bottom: 3rem;
  }

  .skills-container h2 {
    padding-top: 3rem;
    margin-left: 0;
  }

  .skills-tab {
    width: 40vw;
  }

  .css-h74a88 {
    height: 65vh !important;
  }
}

@media (max-width: 499px) {
  .custom-navbar-bg.navbar {
    background-color: #101825;
  }

  .hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
    font-size: 1.5rem;
  }

  .hero h1 {
    width: 98%;
    margin-top: 1rem;
    font-size: 1.5rem;
  }

  .hero .img-container {
    width: 12.5rem;
    border-radius: 12.5rem;
    overflow: hidden;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

  .myAbout {
    font-size: larger;
    margin-bottom: 4rem;
    text-align: center;
  }

  .myAbout a {
    text-decoration: none;
    display: inline-block !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
  }

  .myAboutLink {
    color: white;
  }

  .linkButton {
    background-color: #FFFFFF;
    color: black;
    border: none;
    border-radius: 1.25rem;
    padding: 0.625rem 1.875rem;
    display: block;
    margin: 0 auto;
    margin-top: 4rem;
  }

  .about-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 59.375rem;
  }

  .about-container h2 {
    padding-top: 4.375rem;
    color: #FFFFFF;
    font-size: 1.7rem;
    justify-content: center;
  }

  .about-container p {
    color: #FFFFFF;
    margin-left: 1rem;
    margin-right: 1rem;
    size: large;
    font-size: large;
  }

  .about-panel {
    margin-top: 1.25rem;
    display: block;
  }

  .about-text {
    width: 100%;
    margin: 0;
    margin-bottom: 1.25rem;
  }

  .about-img {
    width: 100%;
    text-align: center;
  }

  .about-img img {
    width: 20rem;
  }

  .under_panel {
    width: 100%;
    margin: 0;
    margin-bottom: 1.25rem;
  }

  .project-container h2 {
    margin-bottom: 4rem;
  }

  .Card-Container {
    width: 90%;
    display: flex;
    justify-content: center !important;
    align-items: center;
    position: relative;
  }

  .custom-carousel {
    width: 80vw;
  }

  .slider {
    height: 165vw;
  }

  .carousel-slide {
    width: 90%;
    margin: auto;
  }

  .external-arrow-div {
    display: none;
  }

  .Box {
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-left: auto !important;
    margin-right: auto !important;
    display: flex;
    flex-direction: column;
  }

  .skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0 !important;
    max-width: 420px;
    width: 100%;
  }

  .skills-container h2 {
    margin-left: 0 !important;
    max-width: 100%;
  }

  .skills-tab {
    width: 100%;
    max-width: 7rem;
    display: flex;
  }

  .css-19kzrtu {
    width: 8rem;
  }

  .css-ahj2mt-MuiTypography-root {
    font-size: 0.9rem !important;
    padding: 0 !important;
  }

  .TabPanel {
    padding: 0;
    width: 100%;
    margin-left: 0;
  }

  .TabPanel ul {
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem;
  }

  .TabPanel ul li {
    margin: 0;
  }

  .vertical-tabs {
    color: white;
    position: sticky;
    top: 4rem;
    background-color: transparent;
    width: 20rem;
  }
}