@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  --clr-neutral-900: hsl(207, 19%, 9%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-accent-400: hsl(142, 90%, 61%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: "Quicksand" !important;
}

body {
  background-color: #101825;
}

.navbar {
  height: 60px;
}

.navbar-collapse {
  padding: 20px;
  justify-content: center;
}

.navbar .links {
  margin: auto;
}

.navbar-nav .nav-item .nav-link.active {
  color: #FFFFFF;
}


.nav-link {
  color: #CACACA !important;
}

.nav-link:hover {
  color: #FFFFFF !important;
}

.hero {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 200px;
}

.hero h1 {
  width: 55%;
}

.hero div {
  width: 20%;
}

.img-container {
  border-radius: 200px;
  overflow: hidden;
}

.img-container img {
  width: 100%;
  height: 100%;
}

.myAbout a {
  text-decoration: none;
  padding: 10px;
  margin-left: 25px;
}

.myAbout {
  font-size: larger;
  margin-bottom: 200px;
}

.myAboutLink {
  color: white;
}

.myAboutLink:hover {
  color: aquamarine;
}

.myAboutLink:hover::before {
  content: "➜";
  display: inline-block;
  margin-right: 8px;
}

.linkButton {
  margin-left: 100px;
  background-color: #FFFFFF;
  color: black;
  border: none;
  border-radius: 20px;
  padding: 10px 30px;
  display: inline-flex;
}

.linkButton:hover {
  cursor: pointer;
  padding: 10px 40px;
  transition: 0.4s;
}

.linkButton:hover::after {
  opacity: 1;
}

.project-container {
  margin-bottom: 150px;
}

.project-container h2 {
  padding-top: 70px;
  margin-left: 100px;
  color: #FFFFFF;
}

.about-panel {
  display: flex;
  margin-bottom: 20px;
}

.under_panel {
  margin-bottom: 200px;
  margin-right: 50px;
}

.about-container h2 {
  padding-top: 70px;
  margin-left: 100px;
  margin-bottom: 100px;
  color: #FFFFFF;
}

.about-container p {
  color: #FFFFFF;
  margin-left: 100px;
  margin-right: 50px;
  size: large;
  font-size: large;
}

.about-text {
  width: 50%;
}

.about-img {
  width: 50%;
  margin-right: 100px;
}

.about-img img {
  width: 100%;
  height: 100%;
}

.Card-Container {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
}

.carousel-image {
  height: 300px;
  margin-top: 0px;
  width:50px;
}

.carousel-title {
  color: white;
  text-align: center;
  height: 50%;
}

.carousel-body {
  color: #FFFFFF;
  text-align: center;
}

.carousel-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  width: 100%;
}

.carousel.carousel-slider .control-arrow {
  color: black !important;
}

.carousel {
  color: black;
}

/* Media query for screens with a maximum width of 768px */
@media (max-width: 768px) {
  .Card-Container {
    width: 90%; /* Adjust container width for smaller screens */
  }

  .carousel-title {
    font-size: 1.5rem; /* Decrease font size for smaller screens */
  }

  .carousel-slide {
    padding: 10px; /* Adjust spacing for smaller screens */
  }
}

/* Media query for screens with a maximum width of 420px */
@media (max-width: 420px) {
  .Card-Container {
    width: 90%; /* Adjust container width for smaller screens */
  }

  .carousel-title {
    font-size: 1.2rem; /* Further decrease font size for very small screens */
  }

  .carousel-slide {
    padding: 10px; /* Adjust spacing for smaller screens */
  }
}

.skills-container h2 {
  padding-top: 100px;
  margin-left: 100px;
  color: #FFFFFF;
}

.skills-container {
  margin-left: 100px;
}

.Box {
  margin-left: 200px;
  margin-right: 300px;
  margin-top: 150px;
  margin-bottom: 200px;
}